
$font-prefix: '/assets/fonts';
@import './ibm-plex/scss/ibm-plex.scss';

// font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
// font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
// font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
// font-family: 'IBM Plex Serif', 'Georgia', Times, serif;

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

body {
  font-size: 1.0em;
  padding: 10px 25px;
  background-color: #fdfdfe;
  max-width: 650px;
  margin: 0 auto;
}

img {
  max-width: 80%;
}

nav {
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-style: bold;
}

a {
  text-decoration: none;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-item {
  border: solid 1px #BDBDBD;
  margin: 10px 0;
  padding: 0 10px;
}

.excerpt {
  margin-left: 0;
}

.site-title {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
}

.name h1 {
  margin: 0;
  padding: 5px 0;
}

.socials {
  position: absolute;
  height: 40px;
  bottom: 0;
  right: 0;
}

.socials a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  border: solid 1px black;
}

.socials img {
  padding: 8px 0;
}

.thought-card {
  padding: 10px 0;
  border: solid 1px;
  border-width: 0 0 1px;
}

.timestamp {
  font-style: italic;
  color: grey;
  font-size: 0.8em;
}

.right {
  text-align: end;
}
