
blockquote {
  padding-left: 10px;
  border-left: solid 3px #BDBDBD;
  clear: both;
}

// Cooking

.menu {
  max-width: 300px;
  border: solid 1px #BDBDBD;
  padding: 10px;
  border-spacing: 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.menu thead {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.menu th {
  border-bottom: solid 1px black;
}

img.block {
  display: block;
  margin: 0 auto;
}

img.inline-left {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  clear: left;
}

img.inline-right {
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
  clear: right;
}

img.w30 {
  width: 30%;
}

img.w80 {
  width: 80%;
}

table.inline {
  display: inline-block;
  max-width: 300px;
  border: solid 1px #BDBDBD;
  padding: 10px;
  float:left;
  margin: 0 16px 16px 0;
}
